<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Loja Atlanta Hawks - Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="../static/css/home.css" rel="stylesheet" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container-fluid">
          <img
            src="../static/img/logo.png"
            alt=""
            width="70"
          />
          <a class="navbar-brand" href="#">Loja Atlanta Hawks</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Carrinho</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Pesquisar"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Pesquisar
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active carousel-image1">
            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Dejounte Murray é o novo jogador do Hawks.</h1>
                <p>
                  Dejounte Murray foi adquirido pelo Atlanta Hawks em uma troca com o San Antonio Spurs.
                </p>
                <p>
                  <a class="btn btn-lg btn-primary" href="#carousel1">Veja Mais</a>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item carousel-image2">
            <div class="container">
              <div class="carousel-caption">
                <h1>A melhor enterrada do século 21.</h1>
                <p>
                  Nas semifinais da conferência leste, John Collins "aposenta" Joel Embiid.
                </p>
                <p><a class="btn btn-lg btn-primary" href="#carousel2">Veja Mais</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item carousel-image3">
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Mutombo e seu lendário "No No No".</h1>
                <p>
                  Mutombo bloqueou o jogador adversário 3x e fez o lendário gesto.
                </p>
                <p>
                  <a class="btn btn-lg btn-primary" href="#carousel3">Veja Mais</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="../static/img/produto1.jpg" alt="produto1" width="93">
            <h2 class="fw-normal">Uniforme Atlanta Hawks 2022-23</h2>
            <p>
              R$ 599,90
            </p>
            <p>
              <a class="btn btn-secondary" href="#">ADICIONAR</a>
            </p>
          </div>
          <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="../static/img/produto2.jpeg" alt="produto2" width="140">
            <h2 class="fw-normal">Shorts Atlanta Hawks 2022-23</h2>
            <p>
              R$349,90
            </p>
            <p>
              <a class="btn btn-secondary" href="#">ADICIONAR</a>
            </p>
          </div>
          <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="../static/img/produto3.jfif" alt="produto3" width="140">
            <h2 class="fw-normal">Boné Preto Original Atlanta Hawks</h2>
            <p>
              R$ 99,90
            </p>
            <p>
              <a class="btn btn-secondary" href="#">ADICIONAR</a>
            </p>
          </div>
        </div>
        <a name="carousel1"></a>
        <hr class="featurette-divider" />
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
              Dejounte Murray veio
              <span class="text-muted">pra elevar o patamar do Hawks</span>
            </h2>
            <p class="lead">
              A nova aquisição do Hawks é um dos melhores defensores da liga, ponto onde o time mais pecava.
            </p>
          </div>
          <div class="col-md-5 carousel-image1">
          </div>
        </div>
        <a name="carousel2"></a>
        <hr class="featurette-divider" />
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
              John Collins enterra
              <span class="text-muted">em joel Embiid.</span>
            </h2>
            <p class="lead">
              Os fãs da NBA ficam eufóricos ao ver John Collins enterrar Joel Embiid e afirmam hilariamente que ele 'assassinou' Joel Embiid no jogo 6.
            </p>
          </div>
          <div class="col-md-5 order-md-1 carousel-image2">
          </div>
        </div>
        <a name="carousel3"></a>
        <hr class="featurette-divider" />
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
              Aqui não! <span class="text-muted">O "No No No" lendário!</span>
            </h2>
            <p class="lead">
              Dikembe Mutombo nega o adversário 3 vezes, fazendo o gesto mais famoso e ainda quebra o dedo.
            </p>
          </div>
          <div class="col-md-5 carousel-image3">
          </div>
        </div>

        <hr class="featurette-divider" />
      </div>
      <footer class="container">
        <p class="float-end"><a href="#">Voltar ao topo</a></p>
        <p>
          &copy; 2022 Cesarnandes LTDA.
        </p>
      </footer>
    </main>
  </body>
</html>
